@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Gravitas One", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Rammetto One", cursive;
  font-family: Comfortaa, cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.watermelon {
  font-family: "Rammetto One", cursive;
}

.starfruit {
  font-family: "Gravitas One", cursive;
}

.persimmon {
  font-family: Comfortaa, cursive;
}

.max-length1 {
  background-color: #e86033;
}

.max-length2 {
  background-color: #fbd25e;
}

.max-length3 {
  background-color: #e97065;
}
